/* --------- GENERIC----------  */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

img{
    transition: all 1s linear;
    overflow: clip;
}
a{
    text-decoration: none;
}

/* --------- nav style----------  */

.btn {
	display:none;
    position: absolute;
    top: 15px;
    right: 10px;
}

 nav {
	width:60%;
	z-index:1000;
    position: fixed;
    top: 10px;
    left: 20%;
    justify-content: center;
	background-color:rgba(74, 172, 172,1.00);
    border-radius: 20px;
    
}
 
 nav ul {
	list-style-type:none;
     display: flex;
     justify-content: center;
}
 
 nav ul li {
	position: relative;
}

nav ul li a {
    display: block;
	width:150px;
	color:white;
	text-decoration:none;
	padding: 10px 0px;
    text-align: center;
}    
 nav ul li a:hover {
	background-color:white;
    color: black;
}
  
nav ul li .sub {
	display: none;
	background-color:rgb(74, 172, 172);
	position: absolute;
	/*width: 100%;*/
	z-index:1000;
}
 
 nav ul li:hover .sub {
	display:block;
}

nav ul li .sub li {
	border-bottom: 1px solid white;
}

/* --------- HEADER----------  */
  
header{
    position: relative;
    width: 100%;
    top: -50px;
    background-position: center;
    height: 87vh;
    min-height: 500px;
    max-width: 3840px;
    z-index: -1;
}
#video{
    display: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    filter: opacity(0.5);
    -webkit-filter: opacity(0.5);
}


/* --------- INDEX ---------  */
main{
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    top: -50px;
}
section{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;   
}
.art01{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 40px;
    .inf{
        height: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap ;
        >picture{
            width: 50%;
            object-fit: contain;
            height: auto;
            >img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .info{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            row-gap: 20px;
            padding: 20px;
            width: 40%;
            
        }
    
    }
}
.art02{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    position: relative;
    width: 100%;
    display: flex;
    margin-top: -5px;
    >.inf{
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap ;
        background-image: url('../ChallengeMuseum/img/expo2.jpg');
        opacity: 0.8;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
       
    
    }
    >.info{
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap ;
        background-image: url('../ChallengeMuseum/img/expo4.jpg'); 
        opacity: 0.8;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
       
    }

   
}
.card{
    border: solid 5px white;
    padding: 10px;
    width: 50%;
    background-color: rgba(74, 172, 172,1.00);
    position: absolute;
    bottom: 20px;
}
.boton{
    width: 150px;
    height: 50px;
    margin-top: 10px;
    opacity: 1;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    margin: auto;
    &:hover{
        transition: .2s ease-in-out;
        -webkit-transition: .2s ease-in-out;
        -moz-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        background-color: rgba(74, 172, 172);
        color: white;
    }
    &:active{    
        transform: scale(0.97);
        -webkit-transform: scale(0.97);
        -moz-transform: scale(0.97);
        -o-transform: scale(0.97);
    }
}