body {
    background-color: antiquewhite;
}

.forms {
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(203, 203, 203);
    border-radius: 40px;
    padding: 30px;
    margin: 40px;
}

.submit {
    margin-top: 20px;
    position: relative;
    width: 80vw;
    display: flex;
    justify-content: center;
    scale: 1.75;
}
.result{
    position: relative;
    top: -30px;
}