body {
    background-color: rgba(74, 172, 172,1.00);
}

.forms {
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(168, 193, 234);
    border-radius: 40px;
    padding: 50px;
    margin: 200px;
    width: 300px;
    scale: 1.25;
}

.button{
    margin: 20px;
    scale: 1.5;
}

.result {
    margin-left: 40px;
    margin-top: 40px;
    font-size: 20px;
    justify-content: center;
    visibility: visible;
}

.result p{
margin-top: -15px;
}

