header{
    background-image: url(../img/expo4.jpg);
    position: relative;
    width: 100%;
    top: -50px;
    background-position: center;
    height: 87vh;
    min-height: 500px;
    max-width: 3840px;
    z-index: -1;
}

body {
    background-color: rgba(74, 172, 172, 1.00);
}

.forms {
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(168, 193, 234);
    justify-content: center;
    border-radius: 40px;
    padding: 50px;
    margin: auto;
    margin-top: 150px;
    width: 300px;
    scale: 1.25;
}
.radio{
    display: flex;
    justify-content: space-between;
}
.button {
    margin: 20px;
    scale: 1.5;
}

.result {
    margin-left: 40px;
    margin-top: 40px;
    font-size: 20px;
    justify-content: center;
    visibility: visible;
}

.result p {
    margin-top: -15px;
}

