header{
    background-image: url(../img/expo4.jpg);
    position: relative;
    width: 100%;
    top: -50px;
    background-position: center;
    height: 87vh;
    min-height: 500px;
    max-width: 3840px;
    z-index: -1;
}
article{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    position: relative;
    width: 90%;
    display: flex;
    >.info{
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap ;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;  
        margin-top: 100px;
        >.card{
            border: solid 10px rgba(74, 172, 172,1.00);
            padding: 50px;
            width: 50%;
            position: absolute;
            bottom: 20px;  
        }
    }
    >.forms{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 20px;
        padding: 20px;
        width: 100%;
        position: relative;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: rgba(74, 172, 172, 0.5);
        justify-content: center;
        border-radius: 40px;
        padding: 50px;
        margin: auto;
        margin-top: 150px;
        width: 50%;
        scale: 1.25; 
    }
}

    
.radio{
    display: flex;
    justify-content: space-between;
}
.button {
    margin: 20px;
    scale: 1.5;
}

.result {
    margin-left: 40px;
    margin-top: 40px;
    font-size: 20px;
    justify-content: center;
    visibility: visible;
}

.result p {
    margin-top: -15px;
}

