header {
    background-image: url(../img/expo4.jpg);
    position: relative;
    width: 100%;
    top: -50px;
    background-position: center;
    height: 87vh;
    min-height: 500px;
    max-width: 3840px;
    z-index: -1;
}
body{
    background-color: rgb(193, 227, 229);
}

article {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    position: relative;
    width: 90%;
    display: flex;

    >.info {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        margin-top: 100px;

        >.card {

            padding: 50px;
            width: 50%;
            position: absolute;
            bottom: 20px;
        }
    }

    >.forms {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 20px;
        padding: 20px;
        width: 100%;
        position: relative;
        background-color: rgba(74, 172, 172, 0.5);
        justify-content: center;
        border-radius: 40px;
        padding: 50px;
        margin: auto;
        margin-top: 150px;
        width: 50%;
        scale: 1.25;
    }
}

.customFont {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.radio {
    display: flex;
    justify-content: space-between;
}

.button {
    margin: 20px;
    scale: 1.5;
}

.result {
    margin-left: 40px;
    margin-top: 40px;
    font-size: 20px;
    justify-content: center;
    visibility: visible;
}

.result p {
    margin-top: 10px;
}

.tabla1 {
    position: relative;
    left: 80px;
    border: 3px rgba(74, 172, 172, 1) solid;
    scale: 1.5;
}

.tabla2 {
    position: relative;
    left: 100px;
    top: 100px;
    border: 3px rgba(74, 172, 172, 1) solid;
    scale: 1.5;
}

tr,
th {
    padding: 5px;
    border: 1px rgb(155, 153, 153) solid;
}

footer{
    position: relative;
    bottom: -200px;
}